apiVersion: v1
kind: Service
metadata:
  name: {{ include "ca-bundle-injector.fullname" . }}-webhook
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ca-bundle-injector.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- range .Values.service.ports }}
    - port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: {{ .protocol }}
      name: {{ .name }}
    {{- end }}
  selector:
    {{- include "ca-bundle-injector.selectorLabels" . | nindent 4 }}